<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project2</title>
    <style>
        *{
            background-color: dimgrey;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        h1{
            text-transform: capitalize;
            color: crimson;
        }
        p{
            line-height: 1em;
            font-size: 20px;
    
        }
    </style>
</head>
<body>
    <h1>this is my second django project</h1>
    <p>I added some styles to this html page, hope you like it</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem suscipit reprehenderit tenetur, quis minima, id et quod neque consequuntur magnam vero dolorum eveniet similique minus culpa unde consectetur! Pariatur, nesciunt.</p>
</body>
</html>